.container {
    padding: 20px;
}

.node {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.node--open > .node__children {
    max-height: 1000px;
}

.node--open > .node__title .node__icon {
    transform: rotate(180deg);
}

.node__children {
    margin-left: 20px;
    max-height: 0;
    overflow: hidden;
}

.node__icon {
    padding: 10px;
    display: block;
    background: url("../icons/arrow.svg") no-repeat center;
    background-size: 10px 10px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.node__title {
    position: relative;
    display: flex;
    cursor: pointer;
}

.node__name {
    margin-left: 20px;
}

.node__children {
    width: 100%;
}
